In [1]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error
from math import sqrt

import pandas as pd
import numpy as np

In [4]:
INSURANCE_FILE_PATH = 'data/insurance.csv'
insurance_df = pd.read_csv(INSURANCE_FILE_PATH)

# one-hot encoding
insurance_df = pd.get_dummies(data=insurance_df, columns=['sex', 'smoker', 'region'])
insurance_df.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [5]:
X = insurance_df.drop(['charges'], axis=1)

polynomial_transformer = PolynomialFeatures(4)
polynomial_features = polynomial_transformer.fit_transform(X.values)
features = polynomial_transformer.get_feature_names(X.columns)

X = pd.DataFrame(polynomial_features, columns=features)
y = insurance_df[['charges']]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=5)

ridge_model = Ridge(alpha=0.01, max_iter=2000, normalize=True)
ridge_model.fit(X_train, y_train)

y_train_predict = ridge_model.predict(X_train)
y_test_predict = ridge_model.predict(X_test)

In [7]:
mse = mean_squared_error(y_train, y_train_predict)

print("training set에서 성능")
print("-----------------------")
print(f'오차: {sqrt(mse)}')

mse = mean_squared_error(y_test, y_test_predict)

print("testing set에서 성능")
print("-----------------------")
print(f'오차: {sqrt(mse)}')

training set에서 성능
-----------------------
오차: 4561.665097523855
testing set에서 성능
-----------------------
오차: 4692.42756033979