In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/enrolment_1.csv')
df['status'] = 'allowed'

1학년은 심화과목을 듣지 못한다

In [3]:
one_grade = (df['year'] == 1) & (df['course name'] == 'information technology')
df.loc[one_grade, "status"] = 'not allowed'

4학년은 기초과목을 듣지 못한다

In [4]:
four_grade = (df['year'] == 4) & (df['course name'] == 'commerce')
df.loc[four_grade, "status"] = 'not allowed'

수강인원이 5명 미만이면 폐강한다

In [5]:
# allowed인 데이터만 모음
allowed = df['status'] == 'allowed'

In [6]:
# allowed인 강의의 신청 인원
course_counts = df.loc[allowed, "course name"].value_counts()

In [7]:
# 수강인원 미달인 강의만 리스트로 생성
closed_course = list(course_counts[course_counts < 5].index)

In [8]:
for course in closed_course:
    df.loc[df['course name'] == course, 'status'] = 'not allowed'

In [9]:
df

           id  year           course name   status
0     2777729     1               science  allowed
1     2777730     2               science  allowed
2     2777765     1                  arts  allowed
3     2777766     2                  arts  allowed
4     2777785     1                   mba  allowed
...       ...   ...                   ...      ...
1995  2796805     3  computer application  allowed
1996  2796812     1               nursing  allowed
1997  2796813     2               nursing  allowed
1998  2796814     3               nursing  allowed
1999  2796815     4               nursing  allowed

[2000 rows x 4 columns]