In [1]:
import pandas as pd

In [2]:
GENDER_FILE_PATH = 'data/gender.csv'
gender_df = pd.read_csv(GENDER_FILE_PATH)
gender_df.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F

In [4]:
# gender열을 제외한 데이터
input_data = gender_df.drop(['Gender'], axis=1)
input_data

   Favorite Color Favorite Music Genre Favorite Beverage Favorite Soft Drink
0            Cool                 Rock             Vodka          7UP/Sprite
1         Neutral              Hip hop             Vodka     Coca Cola/Pepsi
2            Warm                 Rock              Wine     Coca Cola/Pepsi
3            Warm     Folk/Traditional           Whiskey               Fanta
4            Cool                 Rock             Vodka     Coca Cola/Pepsi
..            ...                  ...               ...                 ...
61           Cool                 Rock             Vodka     Coca Cola/Pepsi
62           Cool              Hip hop              Beer     Coca Cola/Pepsi
63        Neutral              Hip hop     Doesn't drink               Fanta
64           Cool                 Rock              Wine     Coca Cola/Pepsi
65           Cool           Electronic              Beer     Coca Cola/Pepsi

[66 rows x 4 columns]

In [6]:
X = pd.get_dummies(input_data)
X.head()

,Favorite Color_Cool,Favorite Color_Neutral,Favorite Color_Warm,Favorite Music Genre_Electronic,Favorite Music Genre_Folk/Traditional,Favorite Music Genre_Hip hop,Favorite Music Genre_Jazz/Blues,Favorite Music Genre_Pop,Favorite Music Genre_R&B and soul,Favorite Music Genre_Rock,Favorite Beverage_Beer,Favorite Beverage_Doesn't drink,Favorite Beverage_Other,Favorite Beverage_Vodka,Favorite Beverage_Whiskey,Favorite Beverage_Wine,Favorite Soft Drink_7UP/Sprite,Favorite Soft Drink_Coca Cola/Pepsi,Favorite Soft Drink_Fanta,Favorite Soft Drink_Other
0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,0
1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0
2,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0
3,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
4,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0

In [8]:
x = pd.get_dummies(data = gender_df, columns = ['Favorite Color', 'Favorite Music Genre', 'Favorite Beverage', 'Favorite Soft Drink'])
x.head()

,Gender,Favorite Color_Cool,Favorite Color_Neutral,Favorite Color_Warm,Favorite Music Genre_Electronic,Favorite Music Genre_Folk/Traditional,Favorite Music Genre_Hip hop,Favorite Music Genre_Jazz/Blues,Favorite Music Genre_Pop,Favorite Music Genre_R&B and soul,...,Favorite Beverage_Beer,Favorite Beverage_Doesn't drink,Favorite Beverage_Other,Favorite Beverage_Vodka,Favorite Beverage_Whiskey,Favorite Beverage_Wine,Favorite Soft Drink_7UP/Sprite,Favorite Soft Drink_Coca Cola/Pepsi,Favorite Soft Drink_Fanta,Favorite Soft Drink_Other
0,F,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,F,0,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,0
2,F,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
3,F,0,0,1,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,F,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0