In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv('data/occupations.csv')
df.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

여성이 가장 많이 종사하는 직종은 무엇인가?

In [15]:
f_condition = df['gender'] == 'F'

In [27]:
df_f = df[f_condition]

In [28]:
df_f['occupation'].value_counts().sort_values(ascending=False)

student          60
administrator    36
other            36
librarian        29
educator         26
writer           19
artist           13
healthcare       11
marketing        10
programmer        6
homemaker         6
none              4
salesman          3
executive         3
scientist         3
engineer          2
lawyer            2
entertainment     2
retired           1
technician        1
Name: occupation, dtype: int64

남성들이 가장 많이 종사하는 직장은 무엇인가?

In [29]:
m_condition = df['gender'] == 'M'

In [30]:
df_m = df[m_condition]

In [32]:
df_m['occupation'].value_counts().sort_values(ascending=False)

student          136
educator          69
other             69
engineer          65
programmer        60
administrator     43
executive         29
scientist         28
technician        26
writer            26
librarian         22
marketing         16
entertainment     16
artist            15
retired           13
lawyer            10
salesman           9
doctor             7
healthcare         5
none               5
homemaker          1
Name: occupation, dtype: int64