In [34]:
import pandas as pd

In [35]:
df = pd.read_csv('data/occupation.csv')
df.head(5)

   age gender  occupation
0   24      M  technician
1   53      F       other
2   23      M      writer
3   24      M  technician
4   33      F       other

In [36]:
occupation_group = df.groupby('occupation')

In [37]:
# 위에서 정렬 후 밑에서 다시 정렬할 때, 성별이 안 들어가는 오류가 있어서 주석처리함
# occupation_group.mean().sort_values(by = 'occupation', ascending = True)

In [38]:
# 성비를 구하기 위해 성별을 숫자로 변경
# 남자를 0, 여자를 1로 하고 평균을 구하면 자연스레 여성비율이 나옴
df.loc[df['gender'] == 'M', 'gender'] = 0
df.loc[df['gender'] == 'F', 'gender'] = 1

# gender의 타입을 int로 변환
df['gender'] = df['gender'].astype(int)

In [39]:
occupation_group.mean()['gender'].sort_values(ascending=False)

occupation
homemaker        0.857143
healthcare       0.687500
librarian        0.568627
artist           0.464286
administrator    0.455696
none             0.444444
writer           0.422222
marketing        0.384615
other            0.342857
student          0.306122
educator         0.273684
salesman         0.250000
lawyer           0.166667
entertainment    0.111111
scientist        0.096774
executive        0.093750
programmer       0.090909
retired          0.071429
technician       0.037037
engineer         0.029851
doctor           0.000000
Name: gender, dtype: float64