In [1]:
import pandas as pd

In [2]:
museum = pd.read_csv("data/museum_3.csv", dtype={'지역번호': str})
number = pd.read_csv("data/region_number.csv", dtype={'지역번호': str})

In [6]:
museum.head(2)

          시설명  어른관람료      운영기관전화번호  분류 지역번호
0  필암서원 유물전시관    500  061-390-7224  일반  061
1     원주역사박물관      0  033-737-4371  일반  033

In [7]:
number.head(2)

  지역번호    지역명
0   02  서울특별시
1  031    경기도

In [42]:
pd.merge(museum, number, on = '지역번호', how = 'left')

             시설명  어른관람료      운영기관전화번호  분류 지역번호    지역명
0     필암서원 유물전시관    500  061-390-7224  일반  061   전라남도
1        원주역사박물관      0  033-737-4371  일반  033    강원도
2        뮤지엄산미술관  15000  033-730-9000  일반  033    강원도
3      오랜미래신화미술관      0  033-746-5256  일반  033    강원도
4    연세대학교 원주박물관      0  033-760-2731  대학  033    강원도
..           ...    ...           ...  ..  ...    ...
895        함양박물관      0  055-960-5532  일반  055   경상남도
896         박물관수   5000  053-744-5500  일반  053  대구광역시
897    대구은행금융박물관      0  053-740-2061  일반  053  대구광역시
898      국립대구박물관      0  053-768-6051  일반  053  대구광역시
899    증평민속체험박물관      0  043-835-4161  일반  043   충청북도

[900 rows x 6 columns]