In [17]:
from sklearn import preprocessing
import pandas as pd

In [18]:
PATIENT_FILE_PATH = 'data/liver_patient_data.csv'
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [19]:
liver_patients_df = pd.read_csv(PATIENT_FILE_PATH)

In [20]:
features_to_normalize = ['Total_Bilirubin','Direct_Bilirubin', 'Alkaline_Phosphotase', 'Alamine_Aminotransferase']

features_to_normalize_df = liver_patients_df[features_to_normalize]

In [21]:
minmaxScaler = preprocessing.MinMaxScaler()
normalized_data = minmaxScaler.fit_transform(features_to_normalize_df)

In [29]:
normalized_df = pd.DataFrame(normalized_data, columns = features_to_normalize)

In [30]:
normalized_df.describe()

,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase
count,579.00000,579.00000,579.00000,579.00000
mean,0.03908,0.07113,0.11156,0.03574
std,0.08348,0.14370,0.11898,0.09205
min,0.00000,0.00000,0.00000,0.00000
25%,0.00536,0.00510,0.05496,0.00653
50%,0.00804,0.01020,0.07084,0.01256
75%,0.02949,0.06122,0.11480,0.02563
max,1.00000,1.00000,1.00000,1.00000