제목
- # 1단계 제목
- ## 2단계 제목
- ### 3단계 제목
- #### 4단계 제목
- 일반 글

번호가 있는 목록  
1. 첫 번째 할일  
2. 두 번째 할일
3. 세 번째 할일

번호가 없는 목록
* 번호가 없는 목록
- 번호가 없는 목록

줄 바꿈
- 문장 끝에 스페이스 두번이 줄 바꿈  
아아아아

문단 바꿈  
문장 끝에서 enter 두 번

문단 바꿈

문자 강조

이탈릭체는 *별표*나 _언더바_ 로  
볼드체는 **별표 두 개**나 __언더바 두 개__ 로  
**별표와 _언더바_** 를 섞어서  
취소선은 ~~물결~~로

링크  
https://www.codeit.kr

이미지  
![코드잇](https://www.codeit.kr/static/images/brand/logo_original.png)

코드 블록으로 언어 지정(```으로 감싸서)

```python
print('hello world!')
for i in range(10):
    print(i)
```

인라인 코드(``으로 감싸서)
값을 출력하고 싶으면 `print` 함수를 사용하면 됩니다

구분 선 위(---으로 구분선 만들 수 있음)

---

구분 선 아래

In [7]:
import pandas as pd

df = pd.read_csv('liverpool.csv')

In [8]:
'''print로 출력했을 때'''
print(df)

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil

In [10]:
'''cell 마지막 줄에 입력하여 출력했을 때'''
df

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil